.avatar{
	height:100px;
	width:100px;
	border-radius:100%;
	transition:.5s;
}
.avatar:hover{
	transform:rotate(360deg);
}
#footer{
	background-color:white;
	padding:.5rem 2.5rem;
}
#header{
	background-color:white;
	padding:.5rem 2.5rem;
}
#main{
	padding:20px;
}
