.avatar{
	height:100px;
	width:100px;
	border-radius:100%;
	transition:.5s;
}
.avatar:hover{
	transform:rotate(360deg);
}
#footer{
	background-color:#313131;
	padding:.5rem 2.5rem;
	color:#e2e2e2;
}
#header{
	background-color:#313131;
	padding:.5rem 2.5rem;
	color:#e2e2e2e2;
}
#main{
	padding:20px;
}
